.section.section-2 {
  &.downloads {
    h2 {
      font-size: 48px;
      line-height: 1.25;
      letter-spacing: -2px;
      margin-bottom: 40px;
    }
  }

  .downloads {
    &-item {
      a {
        width: 100%;
        display: block;
        min-height: 200px;
        transition: background-color .15s ease-in-out, color .15s ease-in-out;
        padding: 40px;
        font-size: 22px;
        font-weight: 800;
        line-height: 1.09;
        color: #000;
        position: relative;
        margin-bottom: 30px;
        margin-top: 30px;

        &::before {
          content: '';
          width: 100%;
          height: 1px;
          display: block;
          background-color: #007aff;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          transition: all .15s ease-in-out;
          z-index: -1;
        }

        span {
          display: block;
          margin-top: 40px;
          opacity: 0;
          transition: opacity .15s ease-in-out;
          font-size: 12px;
          font-weight: 800;
          line-height: 1.67;
          color: inherit;
          text-transform: uppercase;

          svg {
            display: inline-block;
            vertical-align: middle;
            margin-left: 40px;
          }
        }

        &:hover,
        &:focus {
          // background-color: #007aff;
          text-decoration: none;
          color: #fff;

          &::before {
            height: 100%;
          }

          span { opacity: 1; }
        }
      }
    }
  }
}
